<template>
    <b-container>
  <div class="row">
    <div class="col-md-6 whitebgc">
      <blockquote class="blockquote">
        <p class="mb-0">
        I don't need an inspirational quote. <br>I need COFFEE.
        </p>
        <footer class="blockquote-footer">
        Someone famous in <cite>Coffee Lovers</cite>
        </footer>
      </blockquote>
    </div>
    <div class="col-md-1 vacio">ss
      </div>
    <div class="col-md-5 whitebgc">
       <blockquote class="blockquote">
        <p class="mb-0">
        Coffee is Always a GOOD idea.
        </p>
        <footer class="blockquote-footer">
        Someone famous in <cite>Coffee Lovers</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</b-container>
</template>

<style scoped>
.blockquote{
  font-size:1.6em;
  font-size-adjust: inherit;
  text-align: left;

}
.whitebgc{
background-color: rgba(240,235,233,0.6);
}
.vacio{
  background-color: transparent;
  margin-top: 40px;
  color: transparent;
}
</style>
