<template>
<b-container id="bookingcontact">
<div class="row">
<div class="col-md-6" id="formAsis">
  <h3>Book your table!</h3>
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group
                  id="input-group-1"
                  label="Email:"
                  label-for="input-1"
                >
                  <b-form-input
                    id="input-1"
                    v-model="form.email"
                    type="email"
                    required
                    placeholder="Insert your email"
                  ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Your name:" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    v-model="form.name"
                    required
                    placeholder="Name"
                  ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-4" label="People" label-for="input-4">
                  <b-form-select
                    id="input-4"
                    v-model="form.people"
                    :options="people"
                    required
                  ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-3" label="What do you desire?" label-for="input-3">
                  <b-form-select
                    id="input-3"
                    v-model="form.food"
                    :options="foods"
                    required
                  ></b-form-select>
                </b-form-group>

                <b-button type="submit" variant="primary">Submit</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>
              </b-form>
              <!-- <b-card class="mt-3" header="Form Data Result">
                <pre class="m-0">{{form}}</pre>
              </b-card> -->
        </div>
        <div class="col-md-1"></div>
<div class="col-md-5"><h3>Contact us</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1853.6502904863123!2d2.19031971113699!3d41.40116790375106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1581009069395!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;"></iframe>
<p>The Hyper Cat<br>Piruleta Street, 666<br>08028, Barcelona (Spain).<br>Phone: +34 567 35 26<br>Email: thehypercat@fatandus.com</p>
</div>
</div>
</b-container>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        people: '',
        food: null,
        checked: []
      },
      people: [{ text: 'Select', value: null }, '1', '2', '3', '4', '5', '6', 'More than 6? Call us!!'],
      foods: [{ text: 'Select', value: null }, 'Only Coffee w/o bakery', 'Lunch', 'Dinner'],
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.name = ''
      this.form.food = null
      this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<style>
iframe{
  width: 100%;
}

</style>
