<template>
<b-container id="coffee1">
  <div><h2>Our famous Roasted and Grinded Coffee </h2></div>
  <div class="row">
    <div class="col-md-12 textGround">
      <p>We roast and grind our own coffee!! Yes, you have found your favourite place to take a moment and relax. You can choose the roast degree, the grind size and the extraction method!!  </p>
      <p>Combine your delicius coffee with a homemade piece of cake, cupcake, cookies or chocolate bar!</p>
    </div>
  </div>
</b-container>
</template>

<style scoped>

</style>
