<template>
<b-container id="hypercat">
  <div><h2>The Hyper Cat</h2></div>
  <div class="row">
    <div class="col-sm-6 textCat">
      <p>The Hyper Cat presents the most unique coffees, choosed from hundreds of samples each year. We wish to make sure our customers enjoy every cup of coffee. </p>
      <p>We have the roast room available to visit if the customer ask for. The roast and grind time is a very excepcional moment where the flavours meet and link with memories, resulting in a lovely time to share with your family and friends.</p>
      <p>Join us and share your experience in Instagram or Facebook and you can win a set of our products. Use the hashtag <b>#hypercatcoffee</b>.</p>
    </div>
    <div class="col-sm-3">
      <img src="../static/inside1.jpg" alt="cup" width="48%" class="animated zoomIn">
    </div>
    <div class="col-sm-3">
      <img src="../static/inside2.jpg" alt="cup" width="48%" class="animated zoomIn">
    </div>
  </div>
</b-container>
</template>

<style scoped>

.vacio{
  background-color: transparent;
  margin-top: 40px;
  color: transparent;
}
.textCat{
  padding-top: 40px;
  font-size: 1.3em;
}
img{
    height: 300px;
    width: 220px;
    display:inline-block;
    padding-top: 10px;
    padding-left: 10px;
    align-items: center;
    border-radius: 30%;
}
</style>
