<template>
<b-container>
<b-navbar toggleable="md" type="dark" variant="dark" class="fixed-top">
    <b-navbar-brand href="#">HOME</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
      <b-nav-item href="#hypercat">TheHyperCat</b-nav-item>
      <b-nav-item href="#coffee1">Our Coffee</b-nav-item>
      <b-nav-item href="#team">The Team</b-nav-item>
      <b-nav-item href="#bookingcontact">Booking</b-nav-item>
      <b-nav-item href="#bookingcontact">Contact us</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>Sign Up</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</b-container>
</template>

<style scoped>
.navbar{
  background: rgb(95, 71, 61)!important;
  color: black!important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
</style>
