<template>
<b-container id="coffee1">
  <div class="row">
    <div class="col-md-4 Roast">
        <fieldset>
            <legend>
                Roast degree:
            </legend>
            <input type="radio" name="blonde" class="sr-only" id="blonde">
            <label for="blonde"><img src="../static/blonde.jpg" alt="blonde"></label>

            <input type="radio" name="Mid" class="sr-only" id="Mid">
            <label for="Mid"><img src="../static/midd.jpg" alt="Mid"></label>

            <input type="radio" name="Dark" class="sr-only" id="Dark">
            <label for="Dark"><img src="../static/darkk.jpg" alt="Dark"></label>
        </fieldset>
    </div>
    <div class="col-md-4 Grind">
        <fieldset>
            <legend>
                Grind size:
            </legend>
            <input type="radio" name="coarse" class="sr-only" id="coarse">
            <label for="coarse"><img src="../static/coarse1.jpg" alt="coarse"></label>

            <input type="radio" name="med-coarse" class="sr-only" id="med-coarse">
            <label for="med-coarse"><img src="../static/med-coarse1.jpg" alt="med-coarse"></label>

            <input type="radio" name="medium" class="sr-only" id="medium">
            <label for="medium"><img src="../static/medium1.jpg" alt="medium"></label>

            <input type="radio" name="med-fine" class="sr-only" id="med-fine">
            <label for="med-fine"><img src="../static/med-fine1.jpg" alt="med-fine"></label>

            <input type="radio" name="fine" class="sr-only" id="fine">
            <label for="fine"><img src="../static/fine1.jpg" alt="fine"></label>

            <input type="radio" name="extrafine" class="sr-only" id="extrafine">
            <label for="extrafine"><img src="../static/extrafine1.jpg" alt="extrafine"></label>
        </fieldset>
    </div>
    <div class="col-md-4 Brew">
        <fieldset>
            <legend>
                Brew type:
            </legend>
            <input type="radio" name="aeropress" class="sr-only" id="aeropress">
            <label for="aeropress"><img src="../static/aeropress2.jpg" alt="aeropress"></label>

            <input type="radio" name="Chemex" class="sr-only" id="Chemex">
            <label for="Chemex"><img src="../static/chemex.jpg" alt="Chemex"></label>

            <input type="radio" name="frenchpress" class="sr-only" id="frenchpress">
            <label for="frenchpress"><img src="../static/french.jpg" alt="frenchpress"></label>

            <input type="radio" name="espresso" class="sr-only" id="espresso">
            <label for="espresso"><img src="../static/espresso.jpg" alt="espresso"></label>

            <input type="radio" name="fine" class="sr-only" id="fine">
            <label for="fine"><img src="../static/v60.jpg" alt="fine"></label>

            <input type="radio" name="turkishbrew" class="sr-only" id="turkishbrew">
            <label for="turkishbrew"><img src="../static/turkish1.jpg" alt="turkishbrew"></label>

            <input type="radio" name="Woodneck" class="sr-only" id="Woodneck">
            <label for="Woodneck"><img src="../static/woodneck.jpg" alt="Woodneck"></label>

            <input type="radio" name="mokapot" class="sr-only" id="mokapot">
            <label for="mokapot"><img src="../static/moka.jpg" alt="mokapot"></label>

            <input type="radio" name="siphon" class="sr-only" id="siphon">
            <label for="siphon"><img src="../static/siphon.jpg" alt="siphon"></label>
        </fieldset>
    </div>
  </div>
</b-container>
</template>

<style scoped>
label {
  cursor: pointer;
  filter: grayscale(100%);
}

label:hover {
  filter: grayscale(0);
}
input[type="radio"]:checked + label {
  filter: grayscale(0);

}

img{
    height: 100px;
    width: 100px;
    display:inline-block;
    padding: 0 0 0 0px;
}
</style>
