<template>
<b-container id="coffee1">
  <div class="row">
    <div class="col-md-4 Roast zoom3">

            <h3>
                Roast degree
            </h3>
            <img src="../static/blonde.jpg" alt="Mid">
            <img src="../static/midd.jpg" alt="Mid">
            <img src="../static/darkk.jpg" alt="Dark">

    </div>
    <div class="col-md-4 Grind">

            <h3>
                Grind size
            </h3>

           <img src="../static/coarse1.jpg" alt="coarse">

           <img src="../static/med-coarse1.jpg" alt="med-coarse">

           <img src="../static/medium1.jpg" alt="medium">

           <img src="../static/med-fine1.jpg" alt="med-fine">

           <img src="../static/fine1.jpg" alt="fine">

           <img src="../static/extrafine1.jpg" alt="extrafine">

    </div>
    <div class="col-md-4 Brew">

            <h3>
                Brew type
            </h3>

            <img src="../static/aeropress2.jpg" alt="aeropress">
            <img src="../static/chemex.jpg" alt="Chemex">
            <img src="../static/french.jpg" alt="frenchpress">
            <img src="../static/espresso.jpg" alt="espresso">
            <img src="../static/v60.jpg" alt="fine">
           <img src="../static/turkish1.jpg" alt="turkishbrew">
           <img src="../static/woodneck.jpg" alt="Woodneck">
          <img src="../static/moka.jpg" alt="mokapot">
          <img src="../static/siphon.jpg" alt="siphon">

    </div>
  </div>

</div>
</b-container>
</template>

<style scoped>

.zoom3 .mouse-cover{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: move;
}

#app{
  -webkit-font-smoothing: antiliased;
}

img{
    border-radius: 0.25rem;
    height: 100px;
    width: 100px;
    margin-bottom: 0.25rem;
    cursor: pointer;
    filter: grayscale(100%);
    display:inline-block;
    padding: 0 0 0 0px;
}

img:hover{
   filter: grayscale(0);
   z-index: 1;
   transform: scale(2); /* Igual que: scaleX(0.7) scaleY(0.7) */
   position: relative;
}

</style>
