<template>
<section class="back" id="team">
<b-container>
  <div><h2>The Hyper Team </h2></div>
  <div class="row teamrow">
    <div class="col-sm-3">
         <img src="../static/shiro1.jpg" alt="" width="100%" class="animated pulse infinite"><h3>Shiro</h3>
    </div>
    <div class="col-sm-3">
        <img src="../static/mawi1.jpg" alt="" width="100%" class="animated pulse infinite"><h3>Mawi</h3>
    </div>
    <div class="col-sm-3">
        <img src="../static/mary2.jpg" alt="" width="100%" class="animated pulse infinite"><h3>MaryPili</h3>
    </div>
    <div class="col-sm-3">
        <img src="../static/mike1.jpg" alt="" width="100%" class="animated pulse infinite"><h3>Mike</h3>
    </div>
  </div>
</b-container>
</section>
</template>

<style scoped>
h3{
    padding-top: 30px;
    text-align: center;
}

img{
border-radius: 70%
}

.back{
    background-image: url('../static/wall2.jpg');
    background-size: cover;
    background-color: rgba(255,255,255, 0.4);
    background-blend-mode: lighten;
}
</style>
