<template>
<b-container>
  <div class="vacio">
    <h1>s</h1>
  </div>
</b-container>
</template>

<style scoped>
.vacio{
  background-color: transparent;
  margin-top: 30px;
  color: transparent;

}
h1{
  font-size: 1em;
}
</style>
