<template>
<div id="videocafeteria" class="videocafeteria">
  <video autoplay muted loop src="../static/videocafeteria.mp4" type="video/mp4"></video>
  <div class="divcafeteria">
     <button href="#formulario" type="button" class="btn btn-warning">Book your table!</button>
  </div>
  </div>
</template>

<style>
.divcafeteria{
  color: black
}
video{
  position: relative;
  top: 60px;
  max-width: 100%;
  left: 0%;
  z-index: 1;
  align-items: center
  }
.videocafeteria{
  position: relative;
  color: aliceblue;
}

</style>
