<template>
<section>
<header>
  <navBar1 />
</header>

<body>
  <div class="backg">
    <vaciodiv />
    <blockquote1 />
    <vaciodiv />
    <hypercat />
    <videocafeteria />
    <vaciodiv />
    <Coffee1 />
    <vaciodiv />
    <roastgrindextr />
    <vaciodiv />
    <team />
    <vaciodiv />
    <booking />
    <vaciodiv />
    <footer class="foot">FATCAT DESIGN (Lucia Struth) 2020
    </footer>
  </div>
</body>

</section>
</template>

<script>

import { animateOnScroll } from 'mdbvue'
import vaciodiv from '../components/vaciodiv'
import navBar1 from '../components/navBar1'
import blockquote1 from '../components/blockquote1'
import hypercat from '../components/hypercat'
import Coffee1 from '../components/Coffee1'
import videocafeteria from '../components/videocafeteria'
import roastgrindextr from '../components/roastgrindextr'
import team from '../components/team'
import booking from '../components/booking'

export default {
  name: 'AnimationsPage',
  directives: {
    animateOnScroll
  },
  components: {
    navBar1,
    vaciodiv,
    blockquote1,
    hypercat,
    Coffee1,
    videocafeteria,
    roastgrindextr,
    team,
    booking
  }
}
</script>

<style>

@media (max-width: 600px) {
  body {
    background-color: beige;
    image-resolution: 50%;
    text-align: center;
    font-size: 0.95em;
  }
  img{
    width: 40%;
  }
p {
  text-align: center;
}
footer{
  text-align: center;
}

.vacio{
  background-color: transparent;
  margin-top: 10px;
  color: transparent;

}
h1{
  font-size: 2em;
}

h2{
 font-size: 1.5em;
}

h3{
 font-size: 1.3em;
}

}

.backg{
  background-image: url(../static/plantas.jpg);
  background-color: rgba(255,255,255, 0.5);
  background-blend-mode: lighten;
  image-resolution: 100%;
  background-size: cover;
}
.foot{
  text-align: center;
  font-style: italic;
  font-size: 18px;
  color: rgb(167, 23, 23);
  border-top-color: blue;
  text-decoration-line: underline;
}

</style>
